.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 35%;
  min-width: 35%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  user-select: none;
}

.popup-overlay.show .popup-content {
  transform: translateY(0);
  opacity: 1;
}

.teal-button,
.popup-button {
  width: 52%;
  align-items: center;
  background-color: var(--darkTeal);
  color: white;
  font-size: var(--sixteen-font-size);
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.popup-button:disabled,
.popup-button.disabled-button {
  background-color: grey; 
  /* cursor: not-allowed; */
  opacity: 0.6; 
}
.show-row-space-between-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.show-row-space-between-header img {
  cursor: pointer;
}

.show-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.cross-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.cross-icon:hover {
  color: var(--darkTeal);
  stroke-width: 2;
}

.show-column p {
  font-size: 14px;
  color: var(--textColor);
  font-weight: 400;
  margin: 26px 0px !important;
}
.header-subheading-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: var(--fourteen-font-size);
  text-align: start;
  color: var(--lightTextColor);
  font-weight: 400;
  cursor: default !important;
}

.header-subheading-content h1 {
  font-size: var(--sixteen-font-size);
  text-align: start;
  color: var(--darkGrey);
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
}

.text-form-field-popup {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 100%;
  font-size: var(--sixteen-font-size);
  font-weight: 600;
  color: var(--darkGrey);
  align-items: start;
  justify-content: start;
}

.text-form-field-popup input {
  width: 97%;
  margin-top: 5px !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 8px;
  padding: 10px;
  font-size: var(--fourteen-font-size) !important;
  color: var(--textColor) !important;
  outline: none !important;
}

.add-request-form {
  width: 100%;
  margin-right: 20px;
  margin-top: 5px !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 8px;
  padding: 10px;
  font-size: var(--fourteen-font-size) !important;
  color: var(--textColor) !important;
  outline: none !important;
  min-height: 18vh;
  box-sizing: border-box !important;
  resize: none;
  overflow: auto;
  display: block;
  align-items: flex-start !important;
}

.delete-button {
  max-width: 55%;
  min-width: 55%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: white;
  border: 1px solid var(--red10-color);
  font-size: var(--sixteen-font-size);
  color: var(--red10-color);
  font-weight: 600;
  position: relative;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-button.loading{
  background-color: var(--greyOutButton) ;
  border: var(--greyOutButton) ;
  cursor: wait;
  color: white;
}

.grey-button {
  margin-top: 30px;
  width: 250px;
  flex-grow: 1 !important;
  background-color: white;
  border: 1px solid var(--lightestGreyColor);
  font-size: 16px;
  color: var(--lightTextColor);
  font-weight: 600;
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.teal-button {
  margin-top: 30px !important;
  width: 250px !important;
  flex-grow: 1 !important;
  margin-left: 20px !important;
  padding: 10px 20px !important;
}

.email-input-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 6px 10px;
  width: 100%;
  max-width: 650px;
  background-color: white;
}

.email-tag {
  border: 1.5px solid var(--textColor);
  background-color: white;
  color: var(--textColor);
  font-size: var(--twelve-font-size);
  padding: 3px 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.email-tag .remove-email {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.email-input {
  border: 1px solid white;
  outline: none;
  flex: 1;
  min-width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
}

.input-form-field-popup {
  margin: 26px 0px;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: 450px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkGrey);
  align-items: start;
  justify-content: start;
}

.input-form-field-popup input {
  border: none;
  flex-grow: 1;
  font-size: 14px;
  outline: none;
  min-width: 200px;
}

.input-form-field-popup input:focus {
  outline: none;
}
.email-input-container::-webkit-scrollbar {
  width: 6px;
}

.email-input-container::-webkit-scrollbar-thumb {
  background-color: var(--darkTeal);
  border-radius: 8px;
}

.email-input-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/*************************DROPDOOWN************************/
.dropdown-menu {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000 !important;
  min-width: 180px;
}

.dropdown-item {
  display: flex;
  margin: 4px;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: var(--fourteen-font-size);
  font-weight: 400;
  color: var(--textColor);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--hoverTeal);
  border-radius: 8px;
}

.dropdown-icon {
  margin-right: 8px;
}

/***********************************************RENAME POPUP*************************************/

.rename-popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--bgColor);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  overflow: hidden;
}

.rename-text {
  border-radius: 4px;
  width: 100%;
  padding: 4px 8px;
  border: 1px solid var(--borderColor);
  outline: none;
  box-sizing: border-box;
}

.rename-text:focus {
  border: 1px solid var(--borderColor);
  outline: none;
}

/*******************************************************************TOOL TIP**************************************************/

.custom-tooltip {
  align-items: start !important;
  padding: 4px 6px !important;
  font-size: var(--twelve-font-size) !important;
  max-width: 80% !important;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: black !important;
  border-radius: 8px !important;
  border: none !important;
}

/****************************************************************************************************************/
@media (max-width: 768px) {
  .text-form-field-popup {
    margin: 16px 0px;
  }
  .add-request-form {
    min-height: 10vh;
  }
  .cross-icon {
    width: 16px;
    height: 16px;
  }
  .dropdown-menu {
    min-width: 100px;
  }

  .dropdown-item {
    padding: 0.3rem 0.5rem;
  }

  .popup-content {
    width: 70%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .popup-content {
    width: 70%;
    padding: 15px;
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    width: 70%;
  }
}
