/**********************************************************SIDEBAR*****************************************************/
.sidebar-class{
  display: flex;
  width: 15%;
  height: 100%;
}
.sidebar {
  height: 92%;
  max-width: 230px;
  min-width: 120px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 0.5rem 0.3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.sidebar-button {
  margin: 1rem;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
  padding: 0.3rem;
  cursor: pointer;
  color: var(--textColor);
}

.sidebar.closed {
  transform: translateX(-120%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.document-container {
  position: relative;
  z-index: 1;
  height: 65%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  border-bottom: 1px solid var(--lightestGreyColor);
  margin-bottom: 0.7rem;
  flex-direction: column;
  border: none;
  transition: border-color 0.3s ease;
}
.document-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.document-container:hover::-webkit-scrollbar {
  width: 6px;
}

.document-container::-webkit-scrollbar-thumb {
  background-color: var(--darkTeal);
  border-radius: 10px;
}

.document-container::-webkit-scrollbar-track {
  background-color: white;
}

.document-container::-webkit-scrollbar-button {
  display: none;
}

/*****************************Profile******************/
.profile-section-row {
  padding: 0.35rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-section-row img {
  margin-right: 0.4rem;
}

.profile-section-row h2 {
  margin: 0;
  margin-right: 0.35rem;
  font-size: var(--twelve-font-size);
  color: var(--textColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-sidebar{
height: 18px;
width: 18px;
}

/******************************************************SIDEBAR ITEM************************************************/
.sidebar-item-wrapper {
  margin-top: 0.2rem;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item-wrapper.active,
.sidebar-item-wrapper:hover {
  background-color: var(--hoverTeal);
}
.sidebar-item {
  display: flex;
  flex-direction: row;
  padding: 6px;
  color: var(--textColor);
  font-size: var(--fourteen-font-size);
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar-item img {
  margin-right: 0.5rem;

}

.sidebar-item:hover,
.sidebar-item.active {
  color: var(--darkTeal) !important;
}

/************************************Teamspace Header***********************/

.team-header {
  padding: 0.35rem;
  cursor: pointer;
  color: var(--textColor);
  font-size: var(--fourteen-font-size);
}

.team-header.active,
.team-header:hover {
  color: var(--darkTeal);
}

.teamspace-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.5rem 0.6rem;
}

.folder-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  cursor: pointer;
  color: var(--textColor);
  font-size: var(--fourteen-font-size);
  white-space: nowrap;
  overflow: hidden;
}
.folder-title {
  flex-grow: 1;
  color: var(--textColor);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 2px;
}

.folder-title.active {
  color: var(--darkTeal);
}

.show-row-space-between img {
  margin-right: 0.4rem;
}

.show-row-space-between span {
  font-size: var(--fourteen-font-size);
  color: var(--textColor);
}

.folder-contents {
  padding-left: 10px !important;
}

.document-content {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.document-content:hover,
.show-row-space-between:hover {
  background-color: var(--hoverTeal);
}
.show-row-space-between.active,
.document-content:hover,
.show-row-space-between:hover {
  color: var(--darkTeal);
  background-color: var(--hoverTeal);
}

.document-content:hover img,
.show-row-space-between:hover img {
  opacity: 1;
  display: inline;
}

.show-row-space-between {
  margin-top: 2px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between !important;
}

.show-row-space-between img {
  cursor: pointer;
}

.team-space {
  padding: 0.1rem 0.8rem;
}

.hide-icon {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}


/***************************************************************************************************/
@media (max-width: 768px) {
  .sidebar-class{
    width: 30%;
  }
  .sidebar-icon{
    width: 16px;
    height: 16px;
  }

.sidebar-button{
  margin: 1rem 0.6rem;
}

  .sidebar-icon,
  .show-row-space-between img,
  .toggle-sidebar,
  .sidebar-item img ,
  .profile-section-row img {
    width: 12px;
    height: 12px;
  }
  
}