/*****************************************************************LOGIN PAGE*************************************************************/

.login-page-container {
  user-select: none !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
  background-color: var(--bgColor) !important;
}

.login-content-wrapper {
  position: relative;
  display: flex;
  width: 85%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* Left side (Features) */
.features-container {
  width: 50%;
  margin-right: 3rem;
}

.login-header {
  width: 100%;
  color: black !important;
  font-size: var(--thirty-two-font-size);
  margin-bottom: 50px;
  /* display: flex;
    flex-direction: row;
    width: 80%;
    align-items: start !important;
    text-align: start;
    font-size: var(--thirty-two-font-size); */
}

.feature-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}

.feature-item img {
  margin-top: 4px;
  margin-right: 20px;
  height: clamp(32px, 6vw, 64px);
  width: clamp(32px, 6vw, 64px);
}

.feature-item h3 {
  margin-bottom: 8px !important;
  margin-top: 0;
  font-size: var(--twenty-font-size);
  color: var(--darkGrey) !important;
}

.feature-item p {
  font-size: var(--sixteen-font-size);
  color: var(--textColor) !important;
  margin: 0;
}

/* Right side (Login) */
.login-container {
  width: 30%;
  text-align: start;
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: var(--thirty-font-size);
  color: var(--darkGrey) !important;
}

.login-container p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: var(--sixteen-font-size) !important;
  color: var(--textColor) !important;
  cursor: pointer;
}

.login-button-space {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 32%;
}

.login-button {
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0.55rem 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--textColor);
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  color: var(--textColor);
  font-size: var(--sixteen-font-size);
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.login-button.active {
  border: var(--greyOutButton) !important;
  background-color: var(--greyOutButton)  !important;
  color: white !important;
}

.login-button.active img {
  color: white !important;
}

.login-button-icon {
  display: block;
  margin-left: 0;
  margin-right: 0.7em;
  height: 20px;
  width: 20px;
  transition: fill 0.3s ease;
}

.login-button:hover {
  background-color: var(--darkTeal);
  color: white;
  border-color: var(--darkTeal);
}

.loader {
  border: 2px solid transparent;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.email-login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.email-login-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.continue-email {
  margin: 2px !important;
  font-size: var(--twenty-font-size) !important;
  font-weight: 600;
}

.email-login-form p {
  font-size: var(--sixteen-font-size) !important;
  margin-bottom: 14px !important;
}

.email-login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  margin-top: 10px !important;
  font-size: var(--twelve-font-size) !important;
  color: black !important;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.input-style {
  margin-top: 5px !important;
  width: 100% !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 8px;
  padding: 10px;
  font-size: var(--fourteen-font-size) !important;
  color: var(--textColor) !important;
  outline: none !important;
}

.email-login-form ::placeholder {
  color: var(--lightTextColor) !important;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input[type="password"],
.password-input-wrapper input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  align-items: center;
  padding: auto;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
}

.password-toggle-icon:hover {
  fill: #333;
}

.email-warning {
  color: red !important;
  font-size: var(--ten-font-size) !important;
}

.google-old-user {
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.google-old-user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.google-old-user-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px !important;
}

.google-old-user-column h2 {
  font-size: var(--eighteen-font-size) !important;
  margin-bottom: 3px !important;
}
.google-old-user-column p {
  font-size: var(--fourteen-font-size) !important;
  margin-bottom: 5px !important;
}

.image-frame {
  background-color: #e6e6e6 !important;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px !important;
}

.google-old-user span {
  display: flex;
  flex-direction: row;
}

.dynamic-button {
  display: flex;
  justify-content: center;
  background-color: var(--darkTeal);
  border: 1px solid var(--darkTeal);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  font-size: var(--sixteen-font-size);
  cursor: pointer;
}

.dynamic-button.loading {
  background-color: var(--greyOutButton) ;
  border: var(--greyOutButton) ;
  cursor: wait;
}

.dynamic-button.disabled {
  background-color: var(--greyOutButton) ;
  border: 1px solid var(--greyOutButton) ;
  cursor: not-allowed;
}

.loader {
  display: inline-block;
  top:5%;
  width: 16px;
  height: 14px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--darkTeal);
  border-radius: 50%;
  /* animation: spin 1s linear infinite; */
}

.google-login-form h2 {
  margin-bottom: 2px !important;
}

.google-login-form p {
  margin-bottom: 15px !important;
  width: 100% !important;
}

.google-login-form button {
  cursor: pointer;
  width: 100% !important;
  padding: 10px;
  font-size: var(--sixteen-font-size);
  font-weight: 600;
  border: 1px solid var(--lightTextColor);
  background-color: white;
  color: var(--textColor);
  border-radius: 8px;
}

.below-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--darkTeal);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  position: absolute;
  right: 10px;
  top: 30%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.input-wrapper {
  position: relative;
}

.below-text span {
  color: var(--textColor) !important;
  font-size: var(--sixteen-font-size) !important;
  margin-right: 40px;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
}

.below-text .contact-us:hover {
  color: var(--darkTeal) !important;
  text-shadow: 0 0 8px var(--darkTeal);
}

.below-text .terms-conditions:hover {
  color: var(--darkTeal) !important;
  text-shadow: 0 0 8px var(--darkTeal);
}

.separator-row {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.vertical-line {
  height: 1px;
  flex: 1;
  background-color: #e6e6e6;
  margin: 0 10px;
}

.or-text {
  font-size: var(--fourteen-font-size);
  color: var(--textColor) !important;
  margin: 0 10px;
}

/****************************************************************************************/
@media (max-width: 1098px) {
  .login-container {
    width: 35%;
  }
}

@media (max-width: 768px) {
  /* .login-page-container {
    height: 100%;
    padding-top: 15px;
  } */

  .below-text{
    margin: 30px 0px;
  }
  .below-text span {
    margin: 0px 10px;
  }

  .dynamic-button {
    padding: 6px;
  }

  .login-button-icon {
    margin-right: 5px;
    height: 18px;
    width: 18px;
  }

  .login-content-wrapper {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-bottom: 0;
  }

  .features-container {
    width: 70%;
    margin-bottom: 20px;
  }

  .login-header {
    margin-bottom: 10px !important;
  }

  .feature-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .login-container {
    width: 70%;
  }

  .login-container p{
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {.features-container{
  width: 80%;
  padding: 16px;
}

  .login-button-space {
    width: 22%;
  }

  .login-header {
    margin-bottom: 20px;
  }

  .feature-item img {
    height: 26px;
    width: 26px;
  }
}

/* .login-button { */
/* padding-left: calc(12%);
}  */

/* .login-button-icon {
  margin-right: 5px ;
  height: 14px;
  width: 14px;
} */

/* Transition styles */
.form-transition-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.form-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease, transform 500ms ease;
}

.form-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.form-transition-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms ease, transform 500ms ease;
}
