/* Set the global font */
* {
  font-family: "Manrope", sans-serif;
}

/*COLOR*/
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --red10-color: #690000;
  --background-color: #ecf0f1;
  --hover-color: #2980b9;
  --highlight-color: #f1c40f;
  --themeDark-color: #3f3f3f;
  --themeDark-lightbg-color: #f8f5f5;
  --textColor: #727272;
  --darkGrey: #363636;
  --lightTextColor: #9b9b9b;
  --greyOutButton:#c3c1c1;
  --lightestGreyColor: #e6e6e6;
  --borderColor: #dfdfdf;
  --bgColor: #fbfbfb;
  --darkTeal: #006666;
  --teal: #008080;
  --lighterTeal: #009999;
  --lightTeal: #33cccc;
  --lightestTeal: #66cccc;
  --hoverTeal: #f7ffff;
  --boldTextColor: #6e6e6e;
}

/*Size*/
:root {
  --eight-font-size: clamp(4px, 1.0vw, 8px);
  --ten-font-size: clamp(7px, 1.0vw, 10px);
  --twelve-font-size: clamp(8px, 1.3vw, 12px);
  --fourteen-font-size: clamp(10px, 1.5vw, 14px);
  --sixteen-font-size: clamp(12px, 1.65vw, 16px);
  --seventeen-font-size: clamp(13px, 1.67vw, 17px);
  --eighteen-font-size: clamp(14px, 2.0vw, 18px);
  --twenty-font-size: clamp(16px, 2.4vw, 20px);
  --twenty-two-font-size: clamp(18px, 2.4vw, 22px);
  --twenty-four-font-size: clamp(20px, 3.0vw, 24px);
  --thirty-font-size:clamp(22px ,2.4vw,30px);
  --thirty-two-font-size: clamp(22px, 3.5vw, 32px);
}



/********************************************************HOME********************************************/
.clickable {
  cursor: pointer;
}

.home {
  display: flex;
  background-color: var(--bgColor);
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 0px 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--bgColor);
  box-sizing: border-box;
}


/********************************************************ALL REQUEST PAGE********************************************/

.all-request-home {
  height: 100vh;
  overflow-x: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.all-request-home h1 {
  font-size: var(--eighteen-font-size);
  font-weight: 400;
  color: var(--darkGrey);
}

.tab-buttons {
  display: flex;
  /* margin: 0px ; */
}

.tab-buttons button {
  padding: 0.2rem 0.4rem;
  margin-right: 0.8rem;
  border: none;
  cursor: pointer;
  font-size: var(--fourteen-font-size);
  font-weight: 600;
  background-color: var(--bgColor);
  color: var(--textColor);
  outline: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-buttons button.active {
  background-color: var(--hoverTeal);
  color: var(--darkTeal);
}

.tab-content {
  margin-top: 0.8rem;
  flex-grow: 1;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.6rem;
  position: relative;
}

/* For WebKit browsers (Chrome, Safari) */
.tab-content::-webkit-scrollbar {
  width: 6px;
}

.tab-content::-webkit-scrollbar-track {
  background: var(--bgColor);
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: var(--darkTeal);
  border-radius: 50px;
}

.tab-content::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
  background: none;
}

.tab-content:before,
.tab-content:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--darkTeal);
  opacity: 0;
  transition: opacity 0.3s;
}

.tab-content:before {
  top: 0;
}

.tab-content:after {
  bottom: 0;
}

.tab-content.scrolled-to-top:before {
  opacity: 1;
}

.tab-content.scrolled-to-bottom:after {
  opacity: 1;
}

.tab-bar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.change-request-option {
  display: flex;
  margin: 0px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* .change-request-option img {
  margin-right: 0.4rem;
  height: 24px;
  width: 24px;
} */

.change-request-option p {
  font-size: var(--fourteen-font-size);
  font-weight: 600;
  margin: 0px;
  color: var(--textColor);
  position: relative;
  display: inline-block;
}

.change-request-option p::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--lightTextColor);
}



/*******************************CONTACT US******************************************/
.hubspot-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%; 
  padding: 1rem 2rem;
}

.hubspot-form-title {
  font-size: var(--twenty-four-font-size);
  margin-bottom: 1rem;
  color: #333;
}

.hubspot-form {
  width: 100%;
  max-width: 600px;
  align-items: center;
  height: auto; 
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

@media (max-width: 768px) {
  .hubspot-form {
    max-width: 90%; 
  }

 
}

@media (max-width: 480px) {
  .hubspot-form {
    max-width: 100%; 
  }

 
}


